.barraNavegacao{
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 163, 163);
    height: auto;
    width: auto;
    color: #f5f5f5;
    font-family: Impact,'Bold', sans-serif;
    align-items: center;

}
.linksNav ul{
    display: flex;
    flex-direction: row;

}
.linksNav li{
    display: flex;
    height: 6rem;
    width: 10rem;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.titleNav{
    padding: 20px;
    font-size: 32px;
}


.linksNav li:hover{
    color: rgb(36, 104, 104);
    background-color: #f5f5f5;
    cursor: pointer;
}